[Unit]
Description=Start mal_v2 and docker_cuckoo
After=vboxwebsrv.service
After=vboxhostonlynic.service
After=docker.service
Requires=vboxhostonlynic.service
Requires=vboxwebsrv.service
Requires=docker.service

[Service]
User=root
ExecStart=/bin/bash -c 'cd /opt/docker-cuckoo && docker-compose -f docker-compose.vbox.yml up -d && cd /opt/mal_v2 && docker-compose up -d && docker logs -f dockercuckoo_cuckoo_1'
ExecStop=/bin/bash -c 'cd /opt/docker-cuckoo && docker-compose down -v && cd /opt/mal_v2 && docker-compose down -v'

[Install]
WantedBy=multi-user.target