[Unit]
Description=Start mal_v2
After=docker-cuckoo.service
Requires=docker-cuckoo.service

[Service]
User=root
ExecStart=/bin/bash -c 'cd /opt/mal_v2 && docker-compose up'
ExecStop=/bin/bash -c 'cd /opt/mal_v2 && docker-compose down -v'

[Install]
WantedBy=multi-user.target